body{
    background-color: rgb(54, 52, 53);
}

.grd{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    max-width: 500px;
    margin: auto;
    font-family: Calibri;
    color: rgb(58, 58, 58);
    min-width: 400px;
}
.rOne{
    grid-row: 1;
}
.rTwo{
    grid-row: 2;
}
#app{
    background-color: rgb(62, 104, 241);
    color: white;
    font-size: 21px;
    font-weight: 300;
    margin-top: 40px;
    padding-left: 70px;
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 4px;
}
#app2{
    margin-top: 6px;
    padding: 40px;
    background-color: rgb(231, 231, 231);
    text-align: center;
    color: rgb(75, 75, 75);
    border-radius: 4px;
}
.underline{
    color:rgb(62, 104, 241);
    font-weight: 500;
}
.list{
    display: grid;
    list-style-type: none; 
    padding: 0px;
    margin: 60px 35px 0px;
}
.fline{
    text-align: left;
}
.removeButton{
    background-color: rgba(224, 28, 38, 0.295);
    border:0px solid;
    border-radius: 4px;
    margin-right: 16px;
    color: white;
}
.removeButton:hover{
    background-color: rgba(224, 28, 38, 0.699);
}
.button{
    background-color: rgb(62, 104, 241);
    border:0px solid;
    border-radius: 4px;
    padding: 10px;
    margin: 20px 0px;
    color: white;
}
button:hover{
    background-color: rgb(32, 72, 202);
}
input{
     display: none;
}